.messenger{
    height: calc(100vh);
    display: flex;

}
.chatMenu{
    flex : 3.5;
}
.chatMenuInput{
    width: 50%;
    padding: 1% 0;
    border: none;
    border-bottom: 1px solid gray;
}
.ChatBox{
    flex : 5.5;
}
.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative
}
.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}
.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    background-color: rgb(21, 8, 136);
    color: white;

}
.chatOnline{
    flex : 60px;
}
.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}

.noConversationText{
    position: absolute;
    top:10%;
    font-size: 30px;
    color: rgb(39, 37, 37);
    text-align: center;
    cursor: default;
}